* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: "TT Commons", Helvetica, sans-serif;
	font-size: 1.2em;

	color: #69443c;

	background: #a39480 url("../imgs/backgrounds/background.png");
	background-repeat: no-repeat;
}

ul {
	list-style: none;
}

main {
	display: flex;
	flex-direction: column;
	justify-self: center;
	align-items: center;

	width: 80%;
	height: 100vh;
}

span.marca {
	text-align: center;
	text-transform: uppercase;

	font-weight: bold;

	margin-top: 40px;
	margin-bottom: 70px;
}

h1 {
	font-family: "The Seasons", sans-serif;
	font-size: 3em;
	font-weight: normal;
	
	padding: 20px;
}

p {
	text-align: center;
	margin-bottom: 30px;
}

button {
	text-transform: uppercase;

	padding: 10px 40px;
	margin-bottom: 30px;

	border-radius: 20px;
	border: none;

	background: white;
	color: #69443c;
}

button:hover {
	cursor: pointer;
	opacity: 0.50;
	transition: 0.3s;
}

button:active {
	opacity: 1;
}

footer ul {
	display: flex;
	justify-content: space-between;
}

footer {
	width: 200px;
}

footer ul a {
	display: block;
}

footer ul a:after {
	content: "";
	
	display: block;
	
	width: 0;
	height: 2px;
	
	background-color: #69443c;
}

footer ul a:hover:after {
	width: 100%;
	transition: 0.3s;
}